h1, p, li, h5, label {
  color: white;
  font-family: 'Epilogue';
}

body {
  background-color: #2a2a2e;
}

#nav {
  font-family: 'Montserrat';
  font-size: 1.375em;
}

input, select, textarea {
  font-family: 'Noto Sans';
  color: white;
  background-color: #4a4a4e;
  border: none;
  border-radius: 6px;
}

select {
  height: 1.6em;
}

#main {
  text-align: center;
}

::selection {
  color: #1f1f1f;
  background: #bbbbbb;
}
