h1, p, li, h5, label {
  color: white;
}
body {
  background-color: #2a2a2e;
}

#nav {
  font-family: 'Montserrat';
  font-size: 1.375em;
}

#main {
  text-align: center;
  font-family: 'Epilogue';
}
